<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MT_Suspect/src/MT_useSuspect/MT_useSuspect.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="MT_useSuspect.MT_useSuspect"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MT_Suspect"/>
</launchConfiguration>
