<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GetDogs1/src/MTGetDogs/MTGetDogs.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="MTGetDogs.MTGetDogs"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GetDogs1"/>
</launchConfiguration>
